{% extends 'base.html.twig' %}

{% block body %}

    <h1>Produits</h1>
    <div class="count">
        {{ pagination.getTotalItemCount }} produit(s)
    </div>
    <div class="row">
        <div>
            <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('app_product_all') }}">
                <input class="form-control mr-sm-2" name="search" type="text" placeholder="Recherche"
                       value="{{ app.request.get('search') }}">
                <div class="col-auto my-1">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing"
                               name="onlyTitle" {% if app.request.get('onlyTitle') %}checked{% endif %}>
                        <label class="custom-control-label" for="customControlAutosizing">Rechercher uniquement dans le
                            titre</label>
                    </div>
                </div>
                <select class="form-control" name="category" id="category">
                    <option value="">-- Choisir un catégorie --</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                                {% if category.id == app.request.get('category') %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-secondary mx-2" type="submit">Rechercher</button>
            </form>
        </div>

        {% for product in pagination %}
            <div class="col-12 border my-2 p-2">
                <a href="{{ path('app_product_show', {'id':product.id}) }}">
                    <div class="row">
                        <div class="col-5">
                            {% if product.imageFilename %}
                                {% if asset('uploads/image/' ~ product.imageFilename)|file_exists %}
                                    <img src="{{ asset('uploads/image/' ~ product.imageFilename) }}"
                                         alt="{{ product.name }}"
                                         width="400">
                                {% else %}
                                    <img src="{{ product.imageFilename }}"
                                         alt="{{ product.name }}">
                                {% endif %}
                            {% else %}
                                <img src="https://via.placeholder.com/400x250" alt="default">
                            {% endif %}
                        </div>
                        <div class="col-7">
                            <h5>{{ product.name }}</h5>
                            <p class="lead text-danger">{{ product.price }} €</p>
                            <br>
                            <p class="lead text-warning">
                                {{ product.category.name }}
                            </p>
                            <p class="lead">
                                {{ product.city }}
                                <br>
                                {{ product.dateInsert|date('d/m/Y H:i') }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-12 border my-2 p-2">
                Aucun élément
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    {#    <script>#}
    {#        const select = document.getElementById('category');#}
    {#        select.addEventListener('change', e => {#}
    {#            let url = '{{ path('app_product_all', {'category': '0'}) }}';#}
    {#            url = url.replace('0', e.target.value);#}
    {#            window.location.replace(url);#}
    {#        })#}
    {#    </script>#}

{% endblock %}