{% extends 'base.html.twig' %}

{% block body %}

    {% set token = csrf_token('delete_product') %}
    {% set tokenComment = csrf_token('delete_comment') %}

    <h1>{{ product.name }}</h1>

    <div class="text-center my-3">
        {% if product.imageFilename %}
            {% if asset('uploads/image/' ~ product.imageFilename)|file_exists %}
                <img src="{{ asset('uploads/image/' ~ product.imageFilename) }}"
                     alt="{{ product.name }}"
                     width="400">
            {% else %}
                <img src="{{ product.imageFilename }}"
                     alt="{{ product.name }}">
            {% endif %}
        {% else %}
            <img src="https://via.placeholder.com/400x250" alt="default">
        {% endif %}
    </div>

    <table class="table">
        <tr>
            <td>{{ 'product.price'|trans }}</td>
            <td>{{ product.price }} €</td>
        </tr>
        <tr>
            <td>{{ 'product.city'|trans }}</td>
            <td>{{ product.city }}</td>
        </tr>
        <tr>
            <td>{{ 'product.category'|trans }}</td>
            <td>{{ product.category.name }}</td>
        </tr>
        <tr>
            <td>{{ 'product.owner'|trans }}</td>
            <td>{{ product.user.firstName }} {{ product.user.lastName }}</td>
        </tr>
    </table>

    <div class="jumbotron">
        <p class="lead">
            {{ product.description }}
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="mailto:{{ product.user.email }}" role="button">Contacter le vendeur</a>
    </div>

    <br>

    <ul>
        {% for comment in product.comments %}
            <li>
                {{ comment.user.firstName }} <br>
                {{ comment.comment }}
            </li>
            {% if app.user == comment.user %}
                <a href="{{ path('app_comment_delete', {'commentId': comment.id, 'productId': product.id, 'token': tokenComment}) }}">Supprimer</a>
            {% endif %}
        {% else %}
            <li>Aucun commentaire</li>
        {% endfor %}
    </ul>

    <br>

    {% if app.user %}
        {{ form_start(form) }}
        {{ form_row(form.comment) }}
        <button class="btn btn-info" type="submit" {% if app.user == null %}disabled{% endif %}>Commenter</button>
        {{ form_end(form) }}
    {% endif %}

    <br>

    <a href="{{ path('app_product_all') }}" class="btn btn-link">Retour à la liste</a>

    {% if product.user == app.user %}
        <a href="{{ path('app_product_update', {'id': product.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('app_product_delete', {'id': product.id, 'token': token}) }}"
           class="btn btn-danger">Supprimer</a>
    {% endif %}
{% endblock %}